@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

.lang{
  box-shadow: none;
  border-radius: 3.5px;
  border: solid .1px #8b8b8b;
  height: 32px;
  width: 50px;
  position: fixed !important;
  z-index: 999;
  inset-inline-end: 1px;
}

.mine-img {
  align-items: center !important;
  width: 200px;
  border-radius: 2%;
}
.title {
  width: 400px;
  height: 200px;
  text-align: center;
  display: inline-block;
  font-size: large !important;
}
.row{
  display: flex;
  flex-wrap: wrap;
  box-shadow:  0 .05rem .25rem;
  border-radius: 5px;
}
.lang:hover{
  transition: all 0.5s;
  background: #dadada ;
}